.Card{
    width:550px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap:20px;
    background: #575A85;
    color:#B8BCCC;
    padding: 30px;
    border-radius: 8px;
    font-size: 2rem;
}
.card-prop{
    background: transparent;
    max-height: 5.2rem;
    overflow: hidden;
}
@media screen and (max-width:768px){
    .card-prop{
        max-height: fit-content;
    }
}
@media screen and (max-width:1220px) {
    .Card{
        width: 100%;
    }
}